repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0 # Get the latest from: https://github.com/antonbabenko/pre-commit-terraform/releases
  hooks:
    - id: terraform_fmt
    - id: terraform_tflint 
    - id: terraform_trivy 
    - id: terraform_validate 
      args:
        - --hook-config=--retry-once-with-cleanup=true

